.container {
    width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-left: 15px;
    background-color: rgb(208, 226, 238);
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  li {
    list-style-type: none;
    padding: 0;
    }
  
  h1,
  h2,
  h3,
  p,
  ul {
    margin: 0;
    padding: 0;
  }
  
  img {
    display: block;
  }