.statistics {
    margin-top: 30px;
    width: 320px;
    height: auto;
    background-color: rgba(247, 247, 247, 0.925);
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    box-shadow: 1px 3px 10px 11px rgba(63, 91, 122, 0.2);
  }
  
  .title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
  }
  
  .statlist {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(85, 110, 224);
    border-radius: 2px;
  }
  .item {
    margin-left: 5px;
    height: auto;
    width: 70px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .item:first-child {
    margin-left: 0px;
  }
  
  .label {
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  
  .statistics li:nth-child(2n) {
    border-right: 1px solid #ffffff;
    border-left: 1px solid #fffcfc;
  }